streamlit>=1.30
captum==0.8.0
bertviz
transformers
torch
numpy
matplotlib
# -----------------------
# Alibi Anchors (text)
# -----------------------
alibi==0.9.6
spacy==3.8.11

# Runtime deps Alibi expects but pip --no-deps skipped
dill>=0.3,<0.4
tqdm
requests
typing-extensions
scipy

# Needed by modern scikit-image wheels
lazy_loader

# -----------------------
# IMPORTANT:
# scikit-image pin for Python 3.13
# -----------------------
scikit-image==0.26.0